<header class="black-band shadow-md text-xl">
  <div class="py-5 px-3 max-w-6xl mx-auto flex flex-row justify-between">
    <a href="<%= global.basePath %>">
      <h1 class="text-2xl hover:text-white"><%= global.siteTitle %></h1>
    </a>
    <ul class="flex flex-row space-x-5">
      <li><a href="<%= global.basePath %>index.html">Home</a></li>
      <li><a href="<%= global.basePath %>products.html">Products</a></li>
      <li><a href="<%= global.basePath %>about.html">About</a></li>
    </ul>
  </div>
</header>