<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('../_parts/_metahead', {global, pageConf}) -%>
  <link rel="stylesheet" type="text/css" href="<%= global.basePath %>main.css?update=20210215">
  <link rel="stylesheet" type="text/css" href="<%= global.basePath %>lib/luminous-basic.min.css">
  <%- typeof headBottom !== 'undefined' ? headBottom(__append) : '' %>
</head>

<body class="min-h-screen flex flex-col">
  <%- include('../_parts/_header', {global, pageConf}) %> 
  <div class="max-w-6xl mx-auto my-3 px-2 flex-grow">
    <%- typeof main !== 'undefined' ? main(__append) : '<Main Content Holder>' %>
  </div>
  <%- include('../_parts/_footer', {global}) %> 
  <script src="<%= global.basePath %>lib/Luminous.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    document.querySelectorAll('.lightbox').forEach(q => new Luminous(q));
  </script>
  <%- typeof bodyBottom !== 'undefined' ? bodyBottom(__append) : '' %>
</body>
</html>